h1{
    background-color:crimson
}
h2{
    background-color:lightblue
}
.box1{
    color:brown;
    background-color:mediumblue
}
.box2{
    color:yellow;
    background-color:green
    /* 1 giá trị (cách xung quanh = giá trị đó) */
    /* 2 giá trị: giá trị đầu tiên(trên , dưới)giá trị thứ 2(trái, phải) */
    /* 4 giá trị: trên ->phải->dưới->trái */

    /* margin : 50px 10px 100px 30px; */
    width: 50%;
    /* auto can khoi ra giua */
    margin: 50px auto;

    padding: 100px;
    
}
.box3{
    color:blue;
    background-color:orange
}